.container {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

/*** HEADER ***/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #13183f;
  font-weight: 800;
  font-size: 28px;
}

.header-button {
  background-color: #13183f;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 28px;
  border: none;
  line-height: 28px;
}

/*** MAIN ***/

.main-title {
  margin-top: 30px;
}

.main-description {
  color: #83869a;
  font-size: 16px;
  line-height: 26px;
}
